dist
build
.build
as-gen
**/src-gen/**
src-gen/**
.react-router
packages/ide/vscode-web/
packages/ide/models/
packages/language/src/codegen/runtime/**
packages/dsl/src/codegen/runtime/**
packages/runtime/src/wasm/**
packages/runtime/assembly/**
packages/simulate/src/wasm/**
**/assembly/**
