name: Deploy Morsel App

on:
  push:
    branches:
      - prototype
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install
        run: npm ci
      - name: Build
        run: |
          mkdir -p packages/morsel/public
          curl -L https://github.com/modelica/ModelicaStandardLibrary/releases/download/v4.1.0/ModelicaStandardLibrary_v4.1.0.zip -o packages/morsel/public/ModelicaStandardLibrary_v4.1.0.zip
          npx lerna run build
      - name: SPA fallback for GitHub Pages
        run: cp packages/morsel/build/client/index.html packages/morsel/build/client/404.html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/prototype'
        with:
          personal_token: ${{ secrets.MODELSCRIPT_MORSEL_DEPLOY_PAT }}
          external_repository: modelscript-morsel/modelscript-morsel.github.io
          publish_dir: ./packages/morsel/build/client
